<?xml version="1.0" encoding="utf-8"?>
<HybridizerMetaConfigFile xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Configuration>
    <ReconstructLoops>false</ReconstructLoops>
  </Configuration>
  <ConfigFile HybridType="" DllFullPath="C:\Users\Michał\Documents\_git\Porr_2019\HybridizerSample1\HybridizerSample1\bin\x64\Debug\HybridizerSample1.exe" PdbFullPath="C:\Users\Michał\Documents\_git\Porr_2019\HybridizerSample1\HybridizerSample1\bin\x64\Debug\HybridizerSample1.pdb" ResultFileName="result.xml" GenerateLineInformation="true" UseFunctionPointers="true" GenerateAllFile="true" GenerateHiddenStubs="true" UseHybridArrays="false" EnableExceptions="false" Features="" DelegateSupport="false" LinesPerFile="0" HybridizerJitterServicePath="C:\Program Files\Altimesh\Hybridizer Essentials\bin\Hybridizer.PTXJitterService.10.1.exe" HybridizerJitterServiceOptions="--gpu-architecture=auto;-G;--relocatable-device-code=false;-lineinfo;--std=c++14;-DNO_EXCEPTION">
    <TraceConfig>
      <MaxStackDumps>100</MaxStackDumps>
      <Enabled>false</Enabled>
      <StackOverflowThreshold>200</StackOverflowThreshold>
      <Level>2</Level>
    </TraceConfig>
    <HybridFlavor FlavorName="CUDA" GenerateCWrapper="false" BuiltInFileNames="C:\Program Files\Altimesh\Hybridizer Essentials\include\hybridizer.cuda.builtins;" />
    <HybridElements HybridType="HybridizerSample1.EntryPoints">
      <HybridizedMethod MethodName="InitializeCollection" MethodRename="run" ForceEntryPoint="true">
        <ParameterTypes>
          <string>System.Int32</string>
          <string>System.Int32</string>
          <string>RefInt[]</string>
        </ParameterTypes>
        <GenericParameters />
      </HybridizedMethod>
      <HybridizedMethod MethodName="GetPrimalColletion" MethodRename="HybridizerSample1x46EntryPointsx46GetPrimalColletion" ForceEntryPoint="false">
        <ParameterTypes>
          <string>RefInt[]</string>
        </ParameterTypes>
        <GenericParameters />
      </HybridizedMethod>
      <HybridizedMethod MethodName="SortParallely" MethodRename="HybridizerSample1x46EntryPointsx46SortParallely" ForceEntryPoint="false">
        <ParameterTypes>
          <string>HybridizerSample1.RefIntList</string>
          <string>RefInt[]</string>
          <string>System.Diagnostics.Stopwatch</string>
          <string>System.Int32</string>
          <string>System.Double</string>
          <string>System.Int32</string>
        </ParameterTypes>
        <GenericParameters />
      </HybridizedMethod>
      <HybridizedMethod MethodName="InitializeConcurrentBatches" MethodRename="HybridizerSample1x46EntryPointsx46InitializeConcurrentBatches" ForceEntryPoint="false">
        <ParameterTypes>
          <string>HybridizerSample1.RefIntList</string>
          <string>System.Int32</string>
          <string>System.Int32</string>
        </ParameterTypes>
        <GenericParameters />
      </HybridizedMethod>
      <HybridizedMethod MethodName="IsOdd" MethodRename="HybridizerSample1x46EntryPointsx46IsOdd" ForceEntryPoint="false">
        <ParameterTypes>
          <string>System.Int32</string>
        </ParameterTypes>
        <GenericParameters />
      </HybridizedMethod>
      <HybridizedMethod MethodName="SwapPhase" MethodRename="HybridizerSample1x46EntryPointsx46SwapPhase" ForceEntryPoint="false">
        <ParameterTypes>
          <string>RefInt[]</string>
          <string>System.Int32</string>
        </ParameterTypes>
        <GenericParameters />
      </HybridizedMethod>
      <HybridizedMethod MethodName="GetRange" MethodRename="HybridizerSample1x46EntryPointsx46GetRange" ForceEntryPoint="false">
        <ParameterTypes>
          <string>RefInt[]</string>
          <string>System.Int32</string>
          <string>System.Int32</string>
        </ParameterTypes>
        <GenericParameters />
      </HybridizedMethod>
      <HybridFlavor FlavorName="CUDA" OutputFileName="HybridizerSample1.EntryPoints.cu" GenerateCWrapper="true" BuiltInFileNames="C:\Program Files\Altimesh\Hybridizer Essentials\include\hybridizer.cuda.builtins;" />
    </HybridElements>
    <DisplayLicenseDetails>false</DisplayLicenseDetails>
  </ConfigFile>
</HybridizerMetaConfigFile>